:root {
    --menu-border-color: #00000083;
    --menu-back-color: white;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal .content {
    background-color: var(--menu-back-color);
    margin: 15% auto;
    border: 0.625rem double var(--menu-border-color);
    border-radius: 0.75rem; 
    width: 70%;

    /* display: flex;
    flex-direction: column; */

    padding: 7%;

    max-height: 7vh;
    overflow-y: auto;
}

.searchModal
{

    display: flex;
    justify-content: center;
    margin-bottom: 20px;

}

@media (max-width: 768px) {
    .modal .content {
        padding: 6%;
        margin: 20% auto;
        max-height: 70vh;
    }
}

@media (max-width: 480px) {
    .modal .content {
        padding: 8%;
        margin: 25% auto;
        max-height: 65vh;
    }
}


