:root
{

    --background-pokemon: lightgreen;
    --background-body: rgb(14, 14, 94);
    --nav-color: white;
    --menu-border-color: #00000083;
    --menu-back-color: white;

}

@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

body
{

    justify-items: center;
    text-align: center;
    background: var(--background-body);

}

nav
{

    width: 76%;
    color: var(--nav-color);
    display: flex;
    background-color: var(--background-body);
    padding: 1rem;
    padding-right: 10rem;
    padding-left: 10rem;
    cursor: pointer;
    justify-content: space-between;

}

.main
{

    margin: 3% auto;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    background-color: var(--background-pokemon);
    border-radius: 190px 190px 0 0;
    box-shadow: 0px 161px 0 20px var(--background-pokemon);
    


}

.pokeInfo img
{

    width: 150px;
    height: auto;
    margin-bottom: 5%;
    display: flex;
    gap: 20px;
    flex-direction: column;

}

.pokeData
{

    background-color: var(--menu-back-color);
    display: flex;
    position: relative;
    right: 26%;
    gap: 10px;
    padding: 27px;
    flex-direction: column;
    width: 100%;
    border: 10px double var(--menu-border-color);
    border-radius: 12px;

}

.section
{

    display: flex;
    flex-direction: column;
    align-items: center;

}

.pokeName
{

    margin: 10%;

}

ul
{

    cursor: pointer;

}


/* font */

    .pixel-font 
    {
        
        font-family: 'Press Start 2P', cursive;
        font-size: 13px;
        line-height: 1;

    }

/* /font */